/* All the stuff to make configs okay */
#config {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#config>* {
    text-align: center;
}

#tempo_config {
    display: flex;
    flex-direction: column;
}

#accent_slider,
#double_slider {
    display: grid;
}

.config_title {
    grid-column: 1 / 3;
    grid-row: 1;
    margin-left: auto;
    margin-right: auto;
}

.min_slider {
    grid-column: 1;
    grid-row: 2;
}

.min_display {
    grid-column: 1;
    grid-row: 3;
}

.max_display {
    grid-column: 2;
    grid-row: 3;
}

.min_display > img,
.max_display > img {
    vertical-align: text-bottom;
}

#tempo_display,
#min_accent_display,
#max_accent_display,
#min_double_display,
#max_double_display {
    font-family: serif;
    font-size: 50px;
    color: #88dfa3;
}

.max_slider {
    grid-column: 2;
    grid-row: 2;
}

.minmax_img {
    vertical-align: middle;
}

#startstop>img {
    width: 14vw;
}

#startstop {
    background: transparent;
    border: none !important;
    font-size:0;
}

/* Specify relative so that it's not confused */
.beatgroup {
    position: relative;
    width: 25%;
}

/* Make images be on top of each other */
.img {
    position: absolute;
    top: 10px;
    width: 100%;
}

.needle {
    position: absolute;
    top: 0;
    left: 5%;
    height: 100%;
    /* Above the notes */
    z-index: 10;
}

img {
    /* prevent selecting the images */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    /* To click through the needle */
    pointer-events: none;
}

#header_img {
    width: 100%;
}

/* to fix width for mobile */
html,
body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    background-color: #649283;
}

body {
    position: relative
}

/* About */
#about_button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

#about_description {
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
