img {
    position: absolute;
    top: 50px;
    width: 100%;
}

.slidecontainer {
    display: inline;
}

.beatgroup {
    position: relative;
    width: 25%;
}

#tempo_slider {
    vertical-align: middle;
}
